body {
    width: 1000px;
    margin: auto;
    text-align: center;
    background: #c4d5f2;
}

.btn-group {
    margin-top: 60px;
    margin-bottom: 60px;
    display: inline-block;
    text-align: center;
    padding: 2px;
    border: 1px solid #000;
}

.canvas-container {
    width: 640px;
    height: 440px;
    overflow: auto;
    margin: auto;
}

#canvas {
    background: #fff;
    border: 1px solid #000;
}
